{%extends 'base.html'%}{%block content%}

<style>
  .main-content {
    flex: 1;
    padding: 40px;
    text-align: center;
  }

  .main-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #00d4ff;
  }

  .main-content p {
    font-size: 1.2rem;
    color: #b3b3b3;
  }
</style>

<div class="main-content">
  <h1>Welcome to MiniYantra</h1>
  <p>
    Explore the incredible world of robotics, innovation, and creativity. Join
    us to celebrate and showcase the best in robotics technology.
  </p>
</div>
{%endblock content%}
